*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(back.gif);
}
img{
    width: 80px;
    height: 80px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: aquamarine;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #5fc5cc;
    margin-bottom: 20px;
}
span {
    color: rgba(250, 146, 0, 0.777);
}
em{
    color: bisque;
}
i{
   color: bisque;
}
.detel p{
    color: aqua;
    line-height: 22px;
}
.detel a{
    margin-left: 8%;
    background: #44808b;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: bisque;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 60%;
    width: 50%;
    position: absolute;
    left: 80%; 
    margin-top: 13%;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: bottom 2s, left 2s; 
}
.images:hover .Boy{
    bottom: 100px;
    right: 40%;
}
.share p{
    font-size: 17px;
    color: bisque;
    margin-right: 25px;
}
.social{
    margin-left: 8%;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background: #5fc5cc;
    box-shadow: #5fc5cc;
    border: 1px solid #44808b;
    border-radius: 50%;
}